<%layout("/yh/layout.html"){%>
	<link href="/yh/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/yh/css/ui/jquery-ui.css">
    <link href="/yh/js/plugins/sco/css/sco.message.css" rel="stylesheet"> 
    <link href="/yh/js/plugins/datatables-1.10.9/css/jquery.dataTables.min.css" rel="stylesheet">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-header" style="font-size:32px">销售订单</div>
                </div>
            </div>
            <input id="order_id" type="hidden" name="order_id" value="${order.id!''}"/>
            <input id="log_id" type="hidden" name="log_id" value="${logOrder.id!''}"/>
			<form id="orderForm">
				<div class="form-group">
					<div class="row">
						<!--  第1行  -->
						<div class="col-lg-4">
							<%include("/yh/component/form/inputField.html", { id:'order_no',
							label:'订单号', value:order.ORDER_NO!'', disabled: 'disabled' }){}%></div>
						<div class="col-lg-4">
							<%include("/yh/component/form/inputField.html", { id:'order_no',
							label:'外部电商订单号', value:order.REF_ORDER_NO!'', disabled: 'disabled'
							}){}%></div>
						<div class="col-lg-4">
							<%include("/yh/component/form/inputCustomCompanyField.html", {
							id:'custom_id', label:'报关企业', required:'required',
							value:order.CUSTOM_ID!'', display_value: custom.shop_name!'' }){}
							%></div>
					</div>
		
					<div class="row">
						<div class="col-lg-4">
							<%include("/yh/component/form/inputField.html", { id:'freight',
							label:'订单商品运费(元)', required:'required', value:order.freight!'' }){}%>
						</div>
						<div class="col-lg-4">
							<%include("/yh/component/form/inputField.html", { id:'goods_value',
							label:'订单商品货款(元)', required:'required', value:order.goods_value!''
							}){} %></div>
						<div class="col-lg-4">
							<!-- <%include("/yh/component/form/inputField.html", { id:'currency',
							label:'币制', required:'required', value:order.currency!'' }){}%> -->
							
							<div class="form-group">
							    <label class="search-label">币制</label>
							    <select id="currency" name="currency" 
							    	field_type='list'
							    	class="form-control search-control" >
					                    <option value='142'>人民币</option>
							    </select>
							</div>
							
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-12">
							<h3>收货人信息</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<!-- <%include("/yh/component/form/inputField.html", {
							id:'consignee_type', label:'收货人证件类型', required:'required',
							value:order.consignee_type!'' }){}%> -->
							<div class="form-group">
							    <label class="search-label">收货人证件类型</label>
							    <select id="consignee_type" name="consignee_type" 
							    	field_type='list'
							    	class="form-control search-control" >
					                    <option value='1' <%if(order.consignee_type!''=='1'){ %>selected<%}%>>身份证</option>
					                    <option value='2' <%if(order.consignee_type!''=='2'){ %>selected<%}%>>其它</option>
							    </select>
							</div>
						</div>
						<div class="col-lg-4">
							<%include("/yh/component/form/inputField.html", {
							id:'consignee_id', label:'收货人证件号', required:'required',
							value:order.consignee_id!'' }){}%></div>
						<div class="col-lg-4">
							<%include("/yh/component/form/inputField.html", { id:'consignee',
							label:'收货人名称', required:'required', value:order.consignee!'' }){}%>
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-4">
							<%include("/yh/component/form/inputField.html", {
							id:'consignee_telephone', label:'收货人电话', required:'required',
							value:order.consignee_telephone!'' }){}%></div>
						<div class="col-lg-4">
							<%include("/yh/component/form/inputField.html", {
							id:'consignee_address', label:'收件人地址', required:'required',
							value:order.consignee_address!'' }){}%></div>
						<div class="col-lg-4">
							<%include("/yh/component/form/inputCountryField.html", {
							id:'consignee_country', label:'收货人地址(国)',
							value:order.consignee_country!,
							display_value: country_name! }){}%></div>
					</div>
		
					<div class="row">
						<div class="col-lg-4">
						<%include("/yh/component/form/inputAllLocationField.html", {
							id:'pro_ci_dis', label:'收件人(省-市-区)',value: pro_ci_dis_id!'',
							display_value:pro_ci_dis!'' ,required:'required' }){}%></div>
					</div>
					
					<div class="row">
						<div class="col-lg-12">
							<h3>优惠信息</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<%include("/yh/component/form/inputField.html", { id:'pro_amount',
							label:'优惠金额', required:'required', value:order.pro_amount!'' }){}%>
						</div>
						<div class="col-lg-4">
							<%include("/yh/component/form/inputField.html", { id:'pro_remark',
							label:'优惠信息说明', required:'required', value:order.pro_remark!''
							}){}%></div>
					</div>
					
					<div class="row">
						<div class="col-lg-12">
							<h3>支付信息</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<%include("/yh/component/form/inputField.html", { id:'pay_no',
								label:'原始支付单交易编号', value:order.pay_no!'', disabled: 'disabled'
							}){}%></div>
						<div class="col-lg-4">
							<%include("/yh/component/form/inputField.html", {
							id:'payer_account', label:'支付人账号ID', 
							value:order.payer_account!'' }){}%></div>
						
					</div>
					
					<div class="row">
						<div class="col-lg-4">
							<%include("/yh/component/form/inputField.html", { id:'payer_name',
							label:'支付人名称', value:order.payer_name!''
							}){}%></div>
						<div class="col-lg-4">
							<%include("/yh/component/form/inputField.html", { id:'payer_email',
								label:'付款人邮箱', value:order.payer_email!''
							}){}%></div>
						<div class="col-lg-4">
							<%include("/yh/component/form/inputField.html", {
							id:'payer_phone', label:'付款人电话',
							value:order.payer_phone!'' }){}%></div>
					</div>
					
					<div class="row">
						<div class="col-lg-4">
							<%include("/yh/component/form/inputField.html", { id:'pay_code',
							label:'支付企业的海关备案编码', value:order.pay_code!''
							}){}%></div>
						<div class="col-lg-4">
							<%include("/yh/component/form/inputField.html", { id:'pay_name',
							label:'支付企业的海关备案名称', value:order.pay_name!''
							}){}%>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
							    <label class="search-label">支付方式</label>
							    <select id="pay_channel" name="pay_channel" 
							    	field_type='list'
							    	class="form-control search-control" >
					                    <option value='01' <%if(order.pay_channel!''=='01'){ %>selected<%}%>>网上支付</option>
					                    <option value='02' <%if(order.pay_channel!''=='02'){ %>selected<%}%>>手机WAP支付</option>
					                    <option value='03' <%if(order.pay_channel!''=='03'){ %>selected<%}%>>线下POS支付</option>
					                    <option value='04' <%if(order.pay_channel!''=='04'){ %>selected<%}%>>手机APP支付</option>
					                    <option value='05' <%if(order.pay_channel!''=='05'){ %>selected<%}%>>预付卡支付</option>
					                    <option value='06' <%if(order.pay_channel!''=='06'){ %>selected<%}%>>便捷付POS支付</option>
					                    <option value='07' <%if(order.pay_channel!''=='07'){ %>selected<%}%>>其他支付渠道</option>
					                    <option value='08' <%if(order.pay_channel!''=='08'){ %>selected<%}%>>新版预付卡支付</option>
							    </select>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-4">
							<%include("/yh/component/form/inputField.html", { id:'pass_pay_no',
							label:'支付通关申报编号', value:order.pass_pay_no!'' }){}%></div>
						<div class="col-lg-4">
							<%include("/yh/component/form/inputField.html", {
							id:'pay_platform', label:'支付平台代码', value:order.pay_platform!''
							}){}%></div>
						<div class="col-lg-4">
							<!-- <%include("/yh/component/form/inputField.html", { id:'is_pay_pass',
							label:'是否已完成支付通关（1/0）', value:order.is_pay_pass!'' }){}%> -->
							<div class="form-group">
							    <label class="search-label">是否已完成支付通关</label>
							    <select id="is_pay_pass" name="is_pay_pass_name" 
							    	field_type='list'
							    	class="form-control search-control" >
					                    <option value='1' <%if(order.is_pay_pass!''=='1'){ %>selected<%}%>>是</option>
					                    <option value='0' <%if(order.is_pay_pass!''=='0'){ %>selected<%}%>>否</option>
							    </select>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-12">
							<h3>创建信息</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<%include("/yh/component/form/inputField.html", {
							id:'creator_name', label:'创建人', value:user.c_name!'', disabled:
							'disabled' }){}%></div>
						<div class="col-lg-4">
							<%include("/yh/component/form/inputField.html", {
							id:'create_stamp', label:'订单时间', value:order.create_stamp!'',
							disabled: 'disabled' }){}%></div>
						<div class="col-lg-4">
							<%include("/yh/component/form/inputField.html", { id:'status',
							label:'状态', value:order.status!'', disabled: 'disabled' }){}%>
						</div>
					</div>
		            <div class="row">
						<div class="col-lg-12">
							<h3>报关状态信息</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<%include("/yh/component/form/inputField.html", { id:
							'order_cus_status', label: '订单海关状态', value: order.order_cus_status!'', disabled: 'disabled' }){}%>
						</div>
						<div class="col-lg-4">
							<%include("/yh/component/form/inputField.html", { id:
							'order_ciq_status', label: '订单国检状态', value: order.order_ciq_status!'', disabled: 'disabled' }){}%>
						</div>
						<div class="col-lg-4">
							<%include("/yh/component/form/inputField.html", { id:
							'pay_status', label: '支付单申报状态', value: order.pay_status!'', disabled: 'disabled' }){}%>
						</div>
					</div>
					<div class="row">
		            	<div class="col-lg-12">
		                 <label>备注</label>
		                 <textarea id='note' class="form-control" rows="3" name="note">${order.note!''}</textarea>
		            	</div>
		            </div>
				</div>
			</form>
			
			
				<div class="form-group" style="margin-top:15px">
					<ul id="orderTabs" class="nav nav-tabs">
						<li class="active">
							<a href="#itemDetail" data-toggle="tab">货品明细</a>
						</li>
						<li >
							<a href="#countDetail" data-toggle="tab">费用明细</a>
						</li>
						<li >
							<a href="#custom" data-toggle="tab" data-src="create">报关信息</a>
						</li>
					</ul>
					
					<div class="tab-content">
						<!-- <form id="itemsForm"> -->
			            <div class="tab-pane fade active in" id="itemDetail">
				            <div class="form-group">
				                <div class="col-lg-12">
				                    <button class="btn btn-success btn-xs" id="add_cargo">添加</button>
				                    <%include("/yh/component/form/detailTable.html", 
				                        {
				                            id:'cargo_table', 
				                            headers:['',  '货品名称', '产品描述','企业商品货号<span style="color:red";>*</span>', '海关正面清单货号', '数量<span style="color:red";>*</span>', '计量单位<span style="color:red";>*</span>', '单价<span style="color:red";>*</span>', '总价<span style="color:red";>*</span>', '是否赠品<span style="color:red";>*</span>', '币制代码<span style="color:red";>*</span>'],
				                            field_list:['','item_name','item_desc' ,'item_no', 'cus_item_no', 'qty', 'unit', 'price', 'total', 'gift_flag', 'currency'],
				                            value_list: itemList![]
				                        }){} %>
				                </div>
				            </div>
			            </div>
			          <!--   </form> -->
			            
			            <div class="tab-pane fade" id="countDetail">
		            		<div class="form_group">
		            			<div class="col-lg-12">
				                    <button class="btn btn-success btn-xs" id="add_count">添加</button>
				                    <%include("/yh/component/form/detailTable.html", 
				                        {
				                            id:'count_table', 
				                            headers:['', '费用名称', '费用类型', '金额', '备注'],
				                            field_list:['', 'name', 'type', 'amount', 'remark'],
				                            value_list: countList![]
				                        }){} %>
				                </div>
	                    	</div>
	                    </div>
			            
		            	<div class="tab-pane fade" id="custom">
		            		 <div class="form_group">.
		            		 <div class="row"><!--  第行  -->
		                    	<div class="col-lg-4">
			                    	<%include("/yh/component/form/inputField.html", 
			                                {   id:'ebp_code_cus', 
			                                    label:'电商平台的海关备案编码', 
			                                    value:custom.ebp_code_cus!'', 
			                                    required:'required', 
	                                    		disabled: 'disabled'
			                                }){}%>
			                    </div><!-- /.col-lg-4 -->
			                    <div class="col-lg-4">
			                            <%include("/yh/component/form/inputField.html", 
				                            {   id:'ebp_code_ciq', 
				                                label:'电商平台的国检备案编码', 
				                                value:custom.ebp_code_ciq!'', 
				                                required:'required', 
	                                    		disabled: 'disabled'
				                            }){}%>
				                </div><!-- /.col-lg-4 -->
			                    <div class="col-lg-4">
			                            <%include("/yh/component/form/inputField.html", 
			                                {   id:'ebp_name', 
			                                    label:'电商平台名称', 
			                                    value:custom.ebp_name!'', 
			                                    required:'required', 
	                                    		disabled: 'disabled'
			                                }){}%>
			                    </div>
		                    </div>
		                    
		                    <div class="row"><!--  第行  -->
			                    <div class="col-lg-4">
			                    	<%include("/yh/component/form/inputField.html", 
			                                {   id:'ebc_code_cus', 
			                                    label:'电商企业的海关备案编码', 
			                                    value:custom.ebc_code_cus!'', 
			                                    required:'required', 
	                                    		disabled: 'disabled'
			                                }){}%>
			                    </div><!-- /.col-lg-4 -->
			                    <div class="col-lg-4">
		                            <%include("/yh/component/form/inputField.html", 
			                            {   id:'ebc_code_ciq', 
			                                label:'电商企业的国检备案编码', 
			                                value:custom.ebc_code_ciq!'', 
			                                required:'required', 
	                                    	disabled: 'disabled'
			                            }){}%>
			                    </div><!-- /.col-lg-4 -->
			                    <div class="col-lg-4">
		                            <%include("/yh/component/form/inputField.html", 
		                                {   id:'ebc_name', 
		                                    label:'电商企业名称', 
		                                    value:custom.ebc_name!'', 
		                                    required:'required', 
	                                    	disabled: 'disabled'
		                                }){}%>
		                        </div>
		                    </div>
		                    
		                    <div class="row"><!--  第行  -->
			                    <div class="col-lg-4">
		                    		<%include("/yh/component/form/inputField.html", 
		                                {   id:'agent_code_cus', 
		                                    label:'代理清单报关企业的海关备案编码', 
		                                    value:custom.agent_code_cus!'', 
		                                    required:'required', 
	                                    	disabled: 'disabled'
		                                }){}%>
		                        </div><!-- /.col-lg-4 -->
			                    <div class="col-lg-4">
		                            <%include("/yh/component/form/inputField.html", 
			                            {   id:'agent_code_ciq', 
			                                label:'代理清单报关企业的国检备案编码', 
			                                value:custom.agent_code_ciq!'', 
			                                required:'required', 
	                                    	disabled: 'disabled'
			                            }){}%>
			                    </div><!-- /.col-lg-4 -->
			                    <div class="col-lg-4">
		                            <%include("/yh/component/form/inputField.html", 
		                                {   id:'agent_name', 
		                                    label:'代理清单报关企业的海关备案名称', 
		                                    value:custom.agent_name!'', 
		                                    required:'required', 
	                                    	disabled: 'disabled'
		                                }){}%>
		                        </div>
	                       </div>
		            		  
			                 <div class="row"><!--  第行  -->
	                    		<div class="col-lg-4">
	                            <%include("/yh/component/form/inputField.html", 
	                                {   id:'org_code', 
	                                    label:'企业组织机构代码', 
	                                    value:custom.org_code!'', 
	                                    disabled: 'disabled'
	                                }){}%>
	                        	</div><!-- /.col-lg-4 -->
	                        	<div class="col-lg-4">
		                            <%include("/yh/component/form/inputField.html", 
			                            {   id:'order_no', 
			                                label:'电商平台的原始订单编号', 
			                                value:custom.order_no!'', 
	                                    	disabled: 'disabled'
			                            }){}%>
		                    	</div><!-- /.col-lg-4 -->
		                    	<div class="col-lg-4">
		                            <%include("/yh/component/form/inputField.html", 
		                                {   id:'warehouse_no', 
		                                    label:'仓库编号', 
		                                    value:custom.warehouse_no!'', 
	                                    	disabled: 'disabled'
		                                }){}%>
	                        	</div><!-- /.col-lg-4 -->
	                    	</div>
	
	                       <div class="row"><!--  第4行  -->
		                   		<div class="col-lg-4">
		                            <%include("/yh/component/form/inputField.html", 
				                       {   id:'ciq_code', 
				                           label:'国检备案号', 
				                           value:custom.ciq_code!'', 
	                                    	disabled: 'disabled'
				                       }){}%>
		                        </div>
			           	 	</div>
	                    </div>
	                    </div>
		            </div>
	            </div>
	        </form>
	            
            <br>
            <div class="row">
                <div class="col-lg-12">
                <% if(shiro.hasPermission("salesOrder.update")){ %>
                    <a id='saveBtn' class="btn  btn-primary" href="#">保存</a>
                <%}%>
                    <a id='payBtn' class="btn  btn-primary">支付</a>
                    <a id='submitDingDanBtn' class="btn  btn-primary" disabled >上报订单</a>
                    <a id='goYunDanBtn' class="btn  btn-primary" disabled >前往运单</a>
                     <button id="printBtn" type="button" class="btn  btn-primary" data-toggle="modal"  data-target=".bs-example-modal-sm">打印</button>
                    <a class="btn  btn-default" href="/salesOrder">返回</a>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <form id='payForm' target="_blank" action="/allinpay/payOrder" method="post">
                <input type="hidden" name="serverUrl" value=""/>
                <input type="hidden" name="inputCharset" value=""/>
                <input type="hidden" name="pickupUrl" value=""/>
                <input type="hidden" name="receiveUrl" value="" />
                <input type="hidden" name="version" value=""/>
                <input type="hidden" name="language" value="" />
                <input type="hidden" name="signType" value=""/>
                <input type="hidden" name="merchantId" value="" />
                <input type="hidden" name="payerName" value=""/>
                <input type="hidden" name="payerEmail" value="" />
                <input type="hidden" name="payerTelephone" value="" />
                <input type="hidden" name="payerIDCard" value="" />
                <input type="hidden" name="pid" value=""/>
                <input type="hidden" name="orderNo" value="" />
                <input type="hidden" name="orderAmount" value=""/>
                <input type="hidden" name="orderCurrency" value="" />
                <input type="hidden" name="orderDatetime" value="" />
                <input type="hidden" name="orderExpireDatetime" value=""/>
                <input type="hidden" name="productName" value="" />
                <input type="hidden" name="productPrice" value="" />
                <input type="hidden" name="productNum" value=""/>
                <input type="hidden" name="productId" value="" />
                <input type="hidden" name="productDesc" value="" />
                <input type="hidden" name="ext1" value="" />
                <input type="hidden" name="ext2" value="" />
                <input type="hidden" name="payType" value="" />
                <input type="hidden" name="issuerId" value="" />
                <input type="hidden" name="pan" value="" />
                <input type="hidden" name="tradeNature" value="" />
                <input type="hidden" name="key" value="" />
            </form>
        </div>
<%}%>

<script src="/yh/js/plugins/datatables-1.10.9/js/jquery.dataTables.js"></script>
<script src="/yh/js/plugins/datatables-1.10.9/js/dataTables.bootstrap.js"></script>

<!-- 引入校验的js 文件及其 中文 文件-->
<script src="/yh/js/jquery.validate.min.js"></script>
<script src="/yh/js/jvalidate.messages_cn.js"></script>

<script src="/yh/js/bootstrap-datetimepicker.min.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.zh-CN.js"></script>

<script src="/yh/js/plugins/sco/js/sco.message.js"></script>

<script src="/js/eeda/eeda-common.js"></script>
<script src="/js/checkUtil.js"></script>
<script>
    var order_no = '${order.order_no!'订单编辑'}'; 
    var salesOrder = {};
    salesOrder.allinpayServer = '${allinpayServer!''}'; 
    salesOrder.allinpayCallbackServer = '${allinpayCallbackServer!''}';
    salesOrder.merchantId = '${merchantId!''}'; 
</script>
<script src="/js/oms/salesOrder/edit_count_table.js"></script>
<script src="/js/oms/salesOrder/edit_item_table.js"></script>
<script src="/js/oms/salesOrder/edit.js"></script>
<script src="/js/oms/salesOrder/pay.js"></script>
