<%layout("/yh/layout.html"){%>
	<link href="/yh/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/yh/css/ui/jquery-ui.css">
    <link href="/yh/js/plugins/sco/css/sco.message.css" rel="stylesheet"> 
    <link href="/yh/js/plugins/datatables-1.10.9/css/jquery.dataTables.min.css" rel="stylesheet">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-header" style="font-size:32px">销售订单</div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <input id="order_id" type="hidden" name="order_id" value="${order.id!''}"/>

            <div class="row">  <!--  form row  -->
                <form id="orderForm">
                    <div class="row"><!--  第1行  -->
                        <div class="col-lg-4"><!--  三列排版  -->
                            <%include("/yh/component/form/inputField.html", 
                                                {   id:'order_no', 
                                                    label:'电商平台的原始订单编号', 
                                                    value:order.ORDER_NO!'',
                                                    disabled: 'disabled'
                                                }){}%>
                        </div>                        
                        <div class="col-lg-4">
                            <%include("/yh/component/form/inputCustomCompanyField.html", 
                                {
                                    id:'custom_id', 
                                    label:'报关企业', 
                                    is_require:'Y',
                                    value:order.CUSTOM_ID!'',
                                    display_value: custom.shop_name!''
                                }){} %>
                       </div>
                       <div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                {   id:'freight', 
                                    label:'订单商品运费', 
                                    is_require:'Y',
                                    value:order.freight!''
                                }){}%>
                        </div><!-- /.col-lg-4 -->
                    </div>

                    <div class="row"><!--  第2行  -->
                        <div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                            {   id:'goods_value', 
                                                label:'订单商品货款', 
                                                is_require:'Y',
                                                value:order.goods_value!''
                                                }){} %>
                        
                        </div>                        
                       
                        <div class="col-lg-4">        
                            <%include("/yh/component/form/inputField.html", 
                                {   id:'currency', 
                                    label:'币制', 
                                    is_require:'Y',
                                    value:order.currency!''
                                }){}%>
                        </div><!-- /.col-lg-4 -->
                    </div><!-- /.row-->

                    <div class="row">
                    	<div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                {   id:'consignee_id', 
                                    label:'收货人证件号', 
                                    is_require:'Y',
                                    value:order.consignee_id!''
                                }){}%>
                        </div><!-- /.col-lg-4 -->
                    	<div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                {   id:'consignee_type', 
                                    label:'收货人证件类型', 
                                    is_require:'Y',
                                    value:order.consignee_type!''
                                }){}%>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                {   id:'consignee', 
                                    label:'收货人名称', 
                                    is_require:'Y',
                                    value:order.consignee!''
                                }){}%>
                        </div><!-- /.col-lg-4 -->
                    </div>    
                    <div class="row">
                    	<div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                {   id:'consignee_telephone', 
                                    label:'收货人电话', 
                                    is_require:'Y',
                                    value:order.consignee_telephone!''
                                }){}%>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                {   id:'consignee_address', 
                                    label:'收件人地址', 
                                    is_require:'Y',
                                    value:order.consignee_address!''
                                }){}%>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                {   id:'consignee_country', 
                                    label:'收货人地址（国）', 
                                    is_require:'Y',
                                    value:order.consignee_country!''
                                }){}%>
                        </div><!-- /.col-lg-4 -->
                    </div> 
                       
                    <div class="row">
                    	<div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                {   id:'province', 
                                    label:'收件人地址(省)', 
                                    is_require:'Y',
                                    value:order.province!''
                                }){}%>
                        </div><!-- /.col-lg-4 -->
                    	<div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                {   id:'city', 
                                    label:'收件人地址(市)', 
                                    is_require:'Y',
                                    value:order.city!''
                                }){}%>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                {   id:'district', 
                                    label:'收货人地址（区）', 
                                    is_require:'Y',
                                    value:order.district!''
                                }){}%>
                        </div><!-- /.col-lg-4 -->
                    </div>    
                    <div class="row">
                    	<div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                {   id:'pro_amount', 
                                    label:'优惠金额', 
                                    is_require:'Y',
                                    value:order.pro_amount!''
                                }){}%>
                        </div><!-- /.col-lg-4 -->
                    	<div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                {   id:'pro_remark', 
                                    label:'优惠信息说明', 
                                    is_require:'Y',
                                    value:order.pro_remark!''
                                }){}%>
                        </div><!-- /.col-lg-4 -->
                    </div>    
                    <div class="row">
                    	<div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                {   id:'pay_no', 
                                    label:'原始支付单交易编号', 
                                    is_require:'Y',
                                    value:order.pay_no!''
                                }){}%>
                        </div><!-- /.col-lg-4 -->
                        
                        <div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                {   id:'payer_account', 
                                    label:'支付人账号ID', 
                                    is_require:'Y',
                                    value:order.payer_account!''
                                }){}%>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                {   id:'payer_name', 
                                    label:'支付人名称', 
                                    is_require:'Y',
                                    value:order.payer_name!''
                                }){}%>
                        </div><!-- /.col-lg-4 -->
                    </div>      
                    <div class="row">
                    	<div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                {   id:'pay_code', 
                                    label:'支付企业的海关备案编码', 
                                    is_require:'Y',
                                    value:order.pay_code!''
                                }){}%>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                {   id:'pay_name', 
                                    label:'支付企业的海关备案名称', 
                                    is_require:'Y',
                                    value:order.pay_name!''
                                }){}%>
                        </div><!-- /.col-lg-4 -->
                    </div>    
                    <div class="row">
                    	<div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                {   id:'pass_pay_no', 
                                    label:'支付通关申报编号', 
                                    value:order.pass_pay_no!''
                                }){}%>
                        </div><!-- /.col-lg-4 -->
                    	<div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                {   id:'pay_platform', 
                                    label:'支付平台代码', 
                                    value:order.pay_platform!''
                                }){}%>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                {   id:'is_pay_pass', 
                                    label:'是否已完成支付通关（1/0）', 
                                    value:order.is_pay_pass!''
                                }){}%>
                        </div><!-- /.col-lg-4 -->
                    </div>
                    <div class="row"><!--  第4行  -->
                        <div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                                {   id:'creator_name', 
                                                    label:'创建人', 
                                                    value:user.c_name!'', 
                                                    disabled: 'disabled'
                                                }){}%>
                        </div>
                        <div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                                {   id:'create_stamp', 
                                                    label:'订单时间', 
                                                    value:order.create_stamp!'', 
                                                    disabled: 'disabled'
                                                }){}%>
                        </div>    
                        <div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                                {   id:'status', 
                                                    label:'状态', 
                                                    value:order.status!'', 
                                                    disabled: 'disabled'
                                                }){}%>
                        </div><!-- /.col-lg-4 -->
                    </div>
                    
                </form>
            </div><!-- /.row -->
            
            <div class="row">
            	<div class="form-group">
                 <label>备注</label>
                 <textarea id='note' class="form-control" rows="3" name="note">${order.note!''}</textarea>
            	</div>
            </div>

			<div class="row" style="margin-top:15px">
				<ul id="orderTabs" class="nav nav-tabs">
					<li class="active">
						<a href="#itemDetail" data-toggle="tab" id="costCheckOrderItem">货品明细</a>
					</li>
					<li >
						<a href="#custom" data-toggle="tab" data-src="create" id="costCheckOrderbasic">报关信息</a>
					</li>
				</ul>
				
				<div class="tab-content">
		            <div class="tab-pane fade active in" id="itemDetail">
			            <div class="form-group">
			                <div class="col-lg-12">
			                    <button class="btn btn-success btn-xs" id="add_cargo">添加</button>
			                    <%include("/yh/component/form/detailTable.html", 
			                        {
			                            id:'cargo_table', 
			                            headers:['', '企业商品货号', '海关正面清单货号', '数量', '计量单位', '单价', '总价', '是否赠品', '币制代码'],
			                            field_list:['', 'item_no', 'cus_item_no', 'qty', 'unit', 'price', 'total', 'gift_flag', 'currency'],
			                            value_list: itemList![]
			                        }){} %>
			                </div>
			            </div>
		            </div>
		            
	            	<div class="tab-pane fade" id="custom">
	            		 <div class="form_group">.
	            		 <div class="row"><!--  第行  -->
	                    	<div class="col-lg-4">
		                    	<%include("/yh/component/form/inputField.html", 
		                                {   id:'ebp_code_cus', 
		                                    label:'电商平台的海关备案编码', 
		                                    value:custom.ebp_code_cus!'', 
                                    		disabled: 'disabled'
		                                }){}%>
		                    </div><!-- /.col-lg-4 -->
		                    <div class="col-lg-4">
		                            <%include("/yh/component/form/inputField.html", 
			                            {   id:'ebp_code_ciq', 
			                                label:'电商企业的国检备案编码', 
			                                value:custom.ebp_code_ciq!'', 
                                    		disabled: 'disabled'
			                            }){}%>
			                </div><!-- /.col-lg-4 -->
		                    <div class="col-lg-4">
		                            <%include("/yh/component/form/inputField.html", 
		                                {   id:'ebp_name', 
		                                    label:'电商平台名称', 
		                                    value:custom.ebp_name!'', 
                                    		disabled: 'disabled'
		                                }){}%>
		                    </div>
	                    </div>
	                    
	                    <div class="row"><!--  第行  -->
		                    <div class="col-lg-4">
	                    		<%include("/yh/component/form/inputField.html", 
	                                {   id:'agent_code_cus', 
	                                    label:'代理清单报关企业的海关备案编码', 
	                                    value:custom.agent_code_cus!'', 
                                    	disabled: 'disabled'
	                                }){}%>
	                        </div><!-- /.col-lg-4 -->
		                    <div class="col-lg-4">
	                            <%include("/yh/component/form/inputField.html", 
		                            {   id:'agent_code_ciq', 
		                                label:'代理清单报关企业的国检备案编码', 
		                                value:custom.agent_code_ciq!'', 
                                    	disabled: 'disabled'
		                            }){}%>
		                    </div><!-- /.col-lg-4 -->
		                    <div class="col-lg-4">
	                            <%include("/yh/component/form/inputField.html", 
	                                {   id:'agent_name', 
	                                    label:'代理清单报关企业的海关备案名称', 
	                                    value:custom.agent_name!'', 
                                    	disabled: 'disabled'
	                                }){}%>
	                        </div>
                       </div>
	            		  
		                 <div class="row"><!--  第行  -->
                    		<div class="col-lg-4">
                            <%include("/yh/component/form/inputField.html", 
                                {   id:'org_code', 
                                    label:'企业组织机构代码', 
                                    value:custom.org_code!'', 
                                    disabled: 'disabled'
                                }){}%>
                        	</div><!-- /.col-lg-4 -->
                        	<div class="col-lg-4">
	                            <%include("/yh/component/form/inputField.html", 
		                            {   id:'order_no', 
		                                label:'电商平台的原始订单编号', 
		                                value:custom.order_no!'', 
                                    	disabled: 'disabled'
		                            }){}%>
	                    	</div><!-- /.col-lg-4 -->
	                    	<div class="col-lg-4">
	                            <%include("/yh/component/form/inputField.html", 
	                                {   id:'warehouse_no', 
	                                    label:'仓库编号', 
	                                    value:custom.warehouse_no!'', 
                                    	disabled: 'disabled'
	                                }){}%>
                        	</div><!-- /.col-lg-4 -->
                    	</div>
                   
	                    <div class="row"><!--  第行  -->
		                    <div class="col-lg-4">
		                    	<%include("/yh/component/form/inputField.html", 
		                                {   id:'ebc_code_cus', 
		                                    label:'电商企业的海关备案编码', 
		                                    value:custom.ebc_code_cus!'', 
                                    		disabled: 'disabled'
		                                }){}%>
		                    </div><!-- /.col-lg-4 -->
		                    <div class="col-lg-4">
	                            <%include("/yh/component/form/inputField.html", 
		                            {   id:'ebc_code_ciq', 
		                                label:'电商企业的国检备案编码', 
		                                value:custom.ebc_code_ciq!'', 
                                    	disabled: 'disabled'
		                            }){}%>
		                    </div><!-- /.col-lg-4 -->
		                    <div class="col-lg-4">
	                            <%include("/yh/component/form/inputField.html", 
	                                {   id:'ebc_name', 
	                                    label:'电商企业名称', 
	                                    value:custom.ebc_name!'', 
                                    	disabled: 'disabled'
	                                }){}%>
	                        </div>
	                    </div>
                   
                       <div class="row"><!--  第4行  -->
	                   		<div class="col-lg-4">
	                            <%include("/yh/component/form/inputField.html", 
			                       {   id:'ciq_code', 
			                           label:'国检备案号', 
			                           value:custom.ciq_code!'', 
                                    	disabled: 'disabled'
			                       }){}%>
	                        </div>
		           	 	</div>
                    </div>
                    </div>
	            </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <a id='saveBtn' class="btn  btn-primary" href="#">保存</a>
                    <a id='submitDingDanBtn' class="btn  btn-primary" disabled >上报订单</a>
                    <a id='submitYunDanBtn' class="btn  btn-primary" disabled >上报运单</a>
                     <button id="printBtn" type="button" class="btn  btn-primary" data-toggle="modal"  data-target=".bs-example-modal-sm">打印</button>
                    <a class="btn  btn-default" href="/salesOrder">返回</a>
                </div>
                <!-- /.col-lg-12 -->
            </div>


        </div><!--  form row  -->
        <!-- /#page-wrapper -->
<%}%>

<script src="/yh/js/plugins/datatables-1.10.9/js/jquery.dataTables.js"></script>
<script src="/yh/js/plugins/datatables-1.10.9/js/dataTables.bootstrap.js"></script>

<!-- 引入校验的js 文件及其 中文 文件-->
<script src="/yh/js/jquery.validate.min.js"></script>
<script src="/yh/js/jvalidate.messages_cn.js"></script>

<script src="/yh/js/bootstrap-datetimepicker.min.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.zh-CN.js"></script>

<script src="/yh/js/plugins/sco/js/sco.message.js"></script>

<script src="/yh/js/eeda-common.js"></script>
<script>
    var order_no = '${order.order_no!'订单编辑'}'; 
    var salesOrder = {};
</script>
<script src="/js/oms/SalesOrder/edit_item_table.js"></script>
<script src="/js/oms/SalesOrder/edit.js"></script>
