 <%layout("/yh/layout.html"){%>
<link href="/yh/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="/yh/js/plugins/sco/css/sco.message.css" rel="stylesheet">
<link
	href="/yh/js/plugins/datatables-1.10.9/css/jquery.dataTables.min.css"
	rel="stylesheet">
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-list fa-fw"></i>订单列表
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<!--  form row  -->
					<form id="orderForm" class="form-group">
						<div class="row">
							<div class="col-lg-4">
								<%include("/yh/component/form/inputField.html", { id:
								'order_no', label: '订单号', value: '' }){}%>
							</div>
							<div class="col-lg-4">
								<%include("/yh/component/form/selectField.html", { id:'status',
								label:'总状态', value: '', value_list:[ 
								{code:'', value:''},
								{code:'未上报', value:'未上报'}, 
								{code:'报关三单已通关', value:'报关三单已通关'} ] } ){} %>
							</div>
							<div class="col-lg-4">
								<%include("/yh/component/form/inputDateQueryField.html",
								{id:'create_stamp', label:'创建时间', value:''}){} %>
							</div>
						</div>
						<div  class="row">
							<div class="col-lg-4">
								<%include("/yh/component/form/selectField.html", { id:'sales_status',
								label:'订单状态', value: '', value_list:[ 
								{code:'', value:''},
								{code:'未上报', value:'未上报'}, 
								{code:'报关处理中', value:'报关处理中'}, 
								{code:'已通关', value:'已通关'} ] } ){} %>
							</div>
							<div class="col-lg-4">
								<%include("/yh/component/form/selectField.html", { id:'pay_status',
								label:'支付状态', value: '', value_list:[ 
								{code:'', value:''},
								{code:'未支付', value:'未支付'}, 
								{code:'已支付未申报', value:'已支付，未申报'},
								{code:'付款已完成', value:'付款已完成'} ] } ){} %>
							</div>
							<div class="col-lg-4">
								<%include("/yh/component/form/selectField.html", { id:'log_status',
								label:'运单状态', value: '', value_list:[ 
								{code:'', value:''},
								{code:'运单未创建', value:'运单未创建'},
								{code:'未上报', value:'未上报'}, 
								{code:'报关处理中', value:'报关处理中'}, 
								{code:'已通关', value:'已通关'} ] } ){} %>
							</div>
							<div class="col-lg-4">
								<%include("/yh/component/form/selectField.html", { id:'bill_status',
								label:'清单状态', value: '', value_list:[ 
								{code:'', value:''},
								{code:'审批中', value:'审批中'},
								{code:'审批不通过', value:'审批不通过'},
								{code:'审批通过', value:'审批通过'} ] } ){} %>
							</div>
						</div>
					</form>

					<!-- buttom -->
					<div class="form-group button-bar">
						<button id="searchBtn" class="btn btn-primary btn-sm"
							type="button">查询</button>
						<button id="resetBtn" class="btn btn-default btn-sm" type="button">清空条件</button>
						<% if(shiro.hasPermission("salesOrder.add")){ %> 
							<a class="btn btn-success btn-sm" href="/salesOrder/create">新增订单</a>
						<%}%>
							<input id="uploadBtn" type="button" class="btn btn-primary btn-sm" value="导入订单"/>

                        <input id="downloadBtn" type="button" class="btn btn-primary btn-sm pull-right" value="导出查询结果"/>
                        <!-- <sub><a id="dowmload" href="javascript:void(0)"  target='_blank'>下载导入模板</a></sub> -->
                        <input type="file" id="toFileUpload" name="files[]" 
						     style="position:absolute;;  opacity:0;" data-url="/importOrder/importOrder?order_type=salesOrder">
					</div>
					<!-- table list -->
					<div class="form-group">
						<%include("/yh/component/form/detailTable.html", { id:'eeda-table',
						headers:['订单号', '报关企业', '订单收货人', '订单商品货款', '销售订单状态','支付状态','运单状态','清单状态','创建人', '创建时间']
						}){} %>
					</div>
					
					<div class="panel-heading">
                       <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" data-backdrop="static">
                         <div class="modal-dialog">
                           <div class="modal-content">
                               <div class="modal-body" align="center">
                               	<center id="centerBody"></center>
                               </div>
                               <div class="modal-footer" id="footer" aria-hidden="true">
                               	<button type="button" class="btn  btn-primary" id="confirm" style="display:none">确认</button>
						       	<button type="button" class="btn  btn-primary" data-dismiss="modal" id="cancel">关闭</button>
						     	</div>
                           </div>
                         </div>
                       </div>
                   </div>
				</div>
			</div>
		</div>
	</div>
</div>
<%}%>

<!-- Page-Level Plugin Scripts - Tables -->
<script src="/yh/js/plugins/datatables-1.10.9/js/jquery.dataTables.js"></script>
<script
	src="/yh/js/plugins/datatables-1.10.9/js/dataTables.bootstrap.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.min.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/yh/js/plugins/sco/js/sco.message.js"></script>

<script src="/yh/js/plugins/jQuery-File-Upload-9.5.7/jquery.ui.widget.js"></script>
<script src="/yh/js/plugins/jQuery-File-Upload-9.5.7/jquery.iframe-transport.js"></script> 
<script src="/yh/js/plugins/jQuery-File-Upload-9.5.7/jquery.fileupload.js"></script>

<script src="/js/oms/salesOrder/list.js"></script>
<script src="/js/oms/salesOrder/upload.js"></script>

