<%layout("/yh/layout.html"){%>
<link href="/yh/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="/yh/js/plugins/sco/css/sco.message.css" rel="stylesheet">
<link
	href="/yh/js/plugins/datatables-1.10.9/css/jquery.dataTables.min.css"
	rel="stylesheet">
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<div class="btn-header">
				<% if(shiro.hasPermission("Warehouse.create")){%> <a
					class="btn  btn-primary" href="/warehouse/create">新增仓库</a> <%}%>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-list fa-fw"></i>仓库列表
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<form role="form" style="margin: 0 15px;">
					<div class="row search_panel">
						<div class="col-lg-4">
							<div class="form-group">
								<label class="search-label">仓库名称</label> <input type="text"
									class="form-control search-control warehouseName_filter"
									id="warehouseName_filter" value="">
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
								<label class="search-label">详细地址</label> <input type="text"
									class="form-control search-control warehouseAddress_filter"
									id="warehouseAddress_filter" value="">
							</div>
						</div>
					</div>
					<button id="searchBtn" class="btn btn-primary btn-sm" type="button">查询</button>
				</form>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="form-group">
						<%include("/yh/component/form/detailTable.html", {
						id:'eeda-table', headers:['仓库名称', '仓库所在地', '创建人', '创建时间', ''] }){}
						%></div>
				</div>
			</div>
		</div>
	</div>
</div>


<%}%>
<!-- Page-Level Plugin Scripts - Tables -->
<script src="/yh/js/plugins/datatables-1.10.9/js/jquery.dataTables.js"></script>
<script
	src="/yh/js/plugins/datatables-1.10.9/js/dataTables.bootstrap.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.min.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/yh/js/plugins/sco/js/sco.message.js"></script>
<script>
	<%
		var WarehouserUpdate = shiro.hasPermission("Warehouse.update");
		var WarehouserDel = shiro.hasPermission("Warehouse.delete");
	%>
	var Warehouser={};
	Warehouser.isUpdate = ${WarehouserUpdate};
	Warehouser.isDel = ${WarehouserDel};
	
</script>
<script src="/js/profile/warehouse/list.js"></script>
