<%layout("/yh/layout.html"){%>
<link href="/yh/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="/yh/js/plugins/sco/css/sco.message.css" rel="stylesheet">
<link
	href="/yh/js/plugins/datatables-1.10.9/css/jquery.dataTables.min.css"
	rel="stylesheet">
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<div class="btn-header">
				<% if(shiro.hasPermission("Warehouse.create")){%> <a
					class="btn  btn-primary" href="/warehouse/create">新增仓库</a> <%}%>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-list fa-fw"></i>仓库列表
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<form id="orderForm" role="form" style="margin: 0 15px;">
					<div class="row search_panel">
						<div class="col-lg-4">
								<%include("/yh/component/form/inputField.html", { id:'warehouse_name',
								label:'仓库名称', required:'required', value:warehouse.warehouse_name!'',required:'required' }){}%>
						</div>
						<div class="col-lg-4">
								<%include("/yh/component/form/inputField.html", { id:'warehouse_address',
								label:'详细地址', required:'required', value:warehouse.warehouse_address!'' ,required:'required'}){}%>
						</div>
					</div>
				</form>
				<div class="col-lg-12">
					<div class="form-group">
						<button id="searchBtn" class="btn btn-primary btn-sm" type="button">查询</button>
					</div>
				</div>
				
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="form-group">
						<%include("/yh/component/form/detailTable.html", {
						id:'eeda-table', headers:['仓库名称', '仓库所在地', '创建人', '创建时间', ''] }){}
						%></div>
				</div>
			</div>
		</div>
	</div>
</div>


<%}%>
<script src="/yh/js/plugins/datatables-1.10.9/js/jquery.dataTables.js"></script>
<script
	src="/yh/js/plugins/datatables-1.10.9/js/dataTables.bootstrap.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.min.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/yh/js/plugins/sco/js/sco.message.js"></script>
<script src="/js/eeda/eeda-common.js"></script>
<script src="/js/profile/warehouse/list.js"></script>
