<%layout("/yh/layout.html"){%>
<link href="/yh/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link rel="stylesheet" href="/yh/css/ui/jquery-ui.css">
<link href="/yh/js/plugins/sco/css/sco.message.css" rel="stylesheet">
<link
	href="/yh/js/plugins/datatables-1.10.9/css/jquery.dataTables.min.css"
	rel="stylesheet">
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<div class="btn-header" style="font-size: 32px">出区核放单</div>
		</div>
	</div>

	<input id="order_id" type="hidden" name="order_id"
		value="${order.id!''}" />
	<div class="form_group">
		<!--  form row  -->
		<form id="orderForm">
			<div class="row">
				<div class="col-lg-12">
					<h3>销售订单信息</h3>
				</div>
			</div>
			<div class="row">
				<!--  第1行  -->
				<div class="col-lg-4">
					<!--  三列排版  -->
					<%include("/yh/component/form/inputField.html", { id:'check_bill',
					label:'原核放单号', value:order.check_bill!''
					}){}%>
				</div>
				<div class="col-lg-4">
					<div class="form-group">
					    <label class="search-label">重报单证类型</label>
					    <select id="again_bill_type" name="again_bill_type_name"
					    	class="form-control search-control" >
			                    <option value='ALL'>全部</option>
			                    <option value='CUS'>海关</option>
			                    <option value='CIQ'>国检</option>
					    </select>
					</div>
				</div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", { id:'customs_code',
					label:'主管海关代码', value:order.customs_code!''}){}%></div>
				<!-- /.col-lg-4 -->
			</div>
			<div class="row">
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'ciq_cod', label:'主管检验检疫代码', value:order.ciq_cod!''
					}){}%></div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'supervision_code', label:'监管场所代码', value:order.supervision_code!''
					}){}%></div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", { id:'business_mode',
					label:'业务模式', value:order.business_mode!''}){}%></div>
				<!-- /.col-lg-4 -->
			</div>
			<div class="row">
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'in_out_date', label:'收货人电话',
					value:order.in_out_date!'' }){}%></div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'IN_OUT_DATE', label:'出区日期',
					value:order.IN_OUT_DATE!'' }){}%></div>
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'DECL_PORT', label:'申报口岸代码',
					value:order.DECL_PORT!'' }){}%></div>
			</div>
			
			<div class="row">
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'PORT_CODE', label:'进出口岸代码',
					value:order.PORT_CODE!'' }){}%></div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'CHECK_BILL_TYPE', label:'核放单类型',
					value:order.CHECK_BILL_TYPE!'' }){}%></div>
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'AUTOED', label:'是否申报空车',
					value:order.AUTOED!'' }){}%></div>
			</div>
			
			<div class="row">
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'PLATE_NUMBER', label:'车牌号',
					value:order.PLATE_NUMBER!'' }){}%></div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'FORM_NUM', label:'单证数量',
					value:order.FORM_NUM!'' }){}%></div>
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'GOODS_NUM', label:'商品项数',
					value:order.GOODS_NUM!'' }){}%></div>
			</div>
			
			<div class="row">
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'TOTAL_PACK_NO', label:'总件数',
					value:order.TOTAL_PACK_NO!'' }){}%></div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'WEIGHT', label:'总重量（Kg）',
					value:order.WEIGHT!'' }){}%></div>
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'CAR_WT', label:'车自重（Kg）',
					value:order.CAR_WT!'' }){}%></div>
			</div>
			
			<div class="row">
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'TOWING_BRACKET_WT', label:'拖架重量（Kg）',
					value:order.TOWING_BRACKET_WT!'' }){}%></div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'CONTA_WT_1', label:'集装箱1空箱重量（Kg）',
					value:order.CONTA_WT_1!'' }){}%></div>
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'CONTA_WT_2', label:'集装箱2空箱重量（Kg））',
					value:order.CONTA_WT_2!'' }){}%></div>
			</div>
			
			<div class="row">
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'CONTA_ID_1', label:'集装箱号1',
					value:order.CONTA_ID_1!'' }){}%></div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'CONTA_ID_2', label:'集装箱号2',
					value:order.CONTA_ID_2!'' }){}%></div>
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'CONTA_WT_2', label:'集装箱2空箱重量（Kg））',
					value:order.CONTA_WT_2!'' }){}%></div>
			</div>
			
			<div class="row">
				<div class="col-lg-4">
					<div class="form-group">
					    <label class="search-label">抵运地</label>
					    <select id="ARRIVAL_PLACE" name="ARRIVAL_PLACE_name"
					    	class="form-control search-control" >
			                    <option value='000000000'>其它</option>
			                    <option value='5349210001'>前海湾保税港码头作业区</option>
			                    <option value='5349990002'>前海湾保税港报税作业区</option>
			                    <option value='5304210000'>:蛇口其他码头</option>
					    </select>
					</div>
				</div>
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'P_NO', label:'公路舱单批次号',
					value:order.P_NO!'' }){}%></div>
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'IC_CARD_NO', label:'车辆IC卡号',
					value:order.IC_CARD_NO!'' }){}%></div>
			</div>
			
			<div class="row">
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'SEAL_NO', label:'关锁号',
					value:order.SEAL_NO!'' }){}%></div>
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'SEAL_KEY', label:'关锁密钥',
					value:order.SEAL_KEY!'' }){}%></div>
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'EMS_NO', label:'帐册号',
					value:order.EMS_NO!'' }){}%></div>
			</div>
			
			<div class="row">
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'WYGL_CODE', label:'承运委托企业(物业管理)海关备案号',
					value:order.WYGL_CODE!'' }){}%></div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<label>备注</label>
					<textarea id='note' class="form-control" rows="3" name="note">${order.note!''}</textarea>
				</div>
			</div>
		</form>
	</div>
	<!-- /.row -->

	<div class="group-form" style="margin-top: 15px">
		<ul id="orderTabs" class="nav nav-tabs">
			<li class="active"><a href="#itemDetail" data-toggle="tab"
				id="costCheckOrderItem">明细信息</a></li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane fade active in" id="itemDetail">
				<div class="form-group">
					<div class="col-lg-12">
						<button class="btn btn-success btn-xs" id="add_item">添加</button>
						<%include("/yh/component/form/detailTable.html", {
						id:'item_table', 
						headers:['', 
						'条码'],
						field_list:['','bar_code'], 
						value_list: itemList![] }){} %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-12">
			<a id='saveBtn' class="btn  btn-primary" href="#">保存</a> <a
				id='submitBtn' class="btn  btn-primary" href="#">上报</a>
			<button id="printBtn" type="button" class="btn  btn-primary"
				data-toggle="modal" data-target=".bs-example-modal-sm">打印</button>
			<a class="btn  btn-default" href="/logisticsOrder">返回</a>
		</div>
		<!-- /.col-lg-12 -->
	</div>


</div>
<!--  form row  -->
<!-- /#page-wrapper -->
<%}%>

<script src="/yh/js/plugins/datatables-1.10.9/js/jquery.dataTables.js"></script>
<script
	src="/yh/js/plugins/datatables-1.10.9/js/dataTables.bootstrap.js"></script>

<!-- 引入校验的js 文件及其 中文 文件-->
<script src="/yh/js/jquery.validate.min.js"></script>
<script src="/yh/js/jvalidate.messages_cn.js"></script>

<script src="/yh/js/bootstrap-datetimepicker.min.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.zh-CN.js"></script>

<script src="/yh/js/plugins/sco/js/sco.message.js"></script>

<script src="/yh/js/eeda-common.js"></script>
<script src="/js/checkUtil.js"></script>
<script>
    var order_no = '${order.order_no!'出区核放单编辑'}'; 
    var order = {};
</script>
<script src="/js/oms/loadOrder/edit_item_table.js"></script>
<script src="/js/oms/loadOrder/edit.js"></script>
