<%layout("/yh/layout.html"){%>
<link href="/yh/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link rel="stylesheet" href="/yh/css/ui/jquery-ui.css">
<link href="/yh/js/plugins/sco/css/sco.message.css" rel="stylesheet">
<link
	href="/yh/js/plugins/datatables-1.10.9/css/jquery.dataTables.min.css"
	rel="stylesheet">
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<div class="btn-header" style="font-size: 32px">出区核放单</div>
		</div>
	</div>

	<input id="order_id" type="hidden" name="order_id"
		value="${order.id!''}" />
	<div class="form_group">
		<!--  form row  -->
		<form id="orderForm">
			<div class="row">
				<!--  第1行  -->
				<div class="col-lg-4">
					<!--  三列排版  -->
					<%include("/yh/component/form/inputField.html", { id:'logistics_order_no',
					label:'运单号', value:order.logistics_order_no!''
					}){}%>
				</div>
				<div class="col-lg-4">
				    <label class="search-label">重报单证类型</label>
				    <select id="again_bill_type" name="again_bill_type_name"
				    	class="form-control search-control" >
		                    <option value='ALL' <%if(order.again_bill_type!''=='ALL'){ %>selected<%}%>>全部</option>
		                    <option value='CUS' <%if(order.again_bill_type!''=='CUS'){ %>selected<%}%>>海关</option>
		                    <option value='CIQ' <%if(order.again_bill_type!''=='CIQ'){ %>selected<%}%>>国检</option>
				    </select>
				</div>
				<div class="col-lg-4">
					<label class="search-label">主管海关代码</label>
					<select id="customs_code" name="customs_code_name" 
				    	class="form-control search-control" >
		                    <option value='5349' <%if(order.customs_code!''=='5349'){ %>selected<%}%>>5349-前海港区</option>
				    </select>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<label class="search-label">主管检验检疫代码</label>
					<select id="pay_channel" name="pay_channel_name" 
				    	class="form-control search-control" >
		                    <option value='471800' <%if(order.ciq_cod!''=='471800'){ %>selected<%}%>>471800-深圳局前海湾保税港区办事处</option>
				    </select>
				</div>
				<div class="col-lg-4">
					<label class="search-label">监管场所代码</label>
					<select id="supervision_code" name="supervision_code_name" 
				    	class="form-control search-control" >
		                    <option value='5349' <%if(order.supervision_code!''=='5349'){ %>selected<%}%>>5349-前海港区</option>
				    </select>
				</div>
				<div class="col-lg-4">
					<label class="search-label">业务模式</label>
					<select id="business_mode" name="business_mode_name" 
				    	class="form-control search-control" >
		                    <option value='2' <%if(order.business_mode!''=='2'){ %>selected<%}%>>2-网购保税进口</option>
				    </select>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'in_out_date', label:'收货人电话',
					value:order.in_out_date!'' }){}%></div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<%include("/yh/component/form/dateInputField.html", {
					id:'in_out_date', label:'出区日期',
					value:order.in_out_date!'' }){}%></div>
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'decl_port', label:'申报口岸代码',
					value:order.decl_port!'' }){}%></div>
			</div>
			
			<div class="row">
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'port_code', label:'进出口岸代码',
					value:order.port_code!'' }){}%></div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<label class="search-label">核放单类型</label>
					<select id="check_bill_type" name="check_bill_type_name" 
				    	class="form-control search-control" >
		                    <option value='E1' <%if(order.check_bill_type!''=='E1'){ %>selected<%}%>>E1-一线出区（报关，备案制）</option>
		                    <option value='E23' <%if(order.check_bill_type!'E23'=='E23'){ %>selected<%}%>>E23-二线出区（报关）</option>
		                    <option value='I1' <%if(order.check_bill_type!''=='I1'){ %>selected<%}%>>I1-一线入区（报关）</option>
		                    <option value='A0000' <%if(order.check_bill_type!''=='A0000'){ %>selected<%}%>>A0000-空车</option>
		                    <option value='B0000' <%if(order.check_bill_type!''=='B0000'){ %>selected<%}%>>B0000-空箱</option>
				    </select>
				</div>
				<div class="col-lg-4">
					<label class="search-label">是否申报空车</label>
					<select id="autoed" name="autoed_name" 
				    	class="form-control search-control" >
		                    <option value='0' <%if(order.autoed!''=='0'){ %>selected<%}%>>0-否</option>
		                    <option value='1' <%if(order.autoed!''=='1'){ %>selected<%}%>>1-是</option>
				    </select>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'plate_number', label:'车牌号',
					value:order.plate_number!'' }){}%></div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'form_num', label:'单证数量',
					value:order.form_num!'' }){}%></div>
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'goods_num', label:'商品项数',
					value:order.goods_num!'' }){}%></div>
			</div>
			
			<div class="row">
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'total_pack_no', label:'总件数',
					value:order.total_pack_no!'' }){}%></div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'weight', label:'总重量（Kg）',
					value:order.weight!'' }){}%></div>
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'car_wt', label:'车自重（Kg）',
					value:order.car_wt!'' }){}%></div>
			</div>
			
			<div class="row">
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'towing_bracket_wt', label:'拖架重量（Kg）',
					value:order.towing_bracket_wt!'' }){}%></div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'conta_wt_1', label:'集装箱1空箱重量（Kg）',
					value:order.conta_wt_1!'' }){}%></div>
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'conta_wt_2', label:'集装箱2空箱重量（Kg））',
					value:order.conta_wt_2!'' }){}%></div>
			</div>
			
			<div class="row">
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'conta_id_1', label:'集装箱号1',
					value:order.conta_id_1!'' }){}%></div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'conta_id_2', label:'集装箱号2',
					value:order.conta_id_2!'' }){}%></div>
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'conta_wt_2', label:'集装箱2空箱重量（Kg））',
					value:order.conta_wt_2!'' }){}%></div>
			</div>
			
			<div class="row">
				<div class="col-lg-4">
					<div class="form-group">
					    <label class="search-label">启运地</label>
					    <select id="start_place" name="start_place_name"
					    	class="form-control search-control" >
			                    <option value='5349210001' <%if(order.start_place!''=='5349210001'){ %>selected<%}%>>5349210001-前海湾保税港码头作业区</option>
			                    <option value='5349990002' <%if(order.start_place!''=='5349990002'){ %>selected<%}%>>5349990002-前海湾保税港报税作业区</option>
			                    <option value='5304210000' <%if(order.start_place!''=='5304210000'){ %>selected<%}%>>5304210000-蛇口其他码头</option>
			                    <option value='000000000' <%if(order.start_place!'000000000'=='000000000'){ %>selected<%}%>>000000000-其它</option>
					    </select>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="form-group">
					    <label class="search-label">抵运地</label>
					    <select id="arrival_place" name="arrival_place_name"
					    	class="form-control search-control" >
			                    <option value='5349210001' <%if(order.arrival_place!''=='5349210001'){ %>selected<%}%>>5349210001-前海湾保税港码头作业区</option>
			                    <option value='5349990002' <%if(order.arrival_place!''=='5349990002'){ %>selected<%}%>>5349990002-前海湾保税港报税作业区</option>
			                    <option value='5304210000' <%if(order.arrival_place!''=='5304210000'){ %>selected<%}%>>5304210000-蛇口其他码头</option>
			                    <option value='000000000' <%if(order.arrival_place!'000000000'=='000000000'){ %>selected<%}%>>000000000-其它</option>
					    </select>
					</div>
				</div>
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'p_no', label:'公路舱单批次号',
					value:order.p_no!'' }){}%></div>
			</div>
			
			<div class="row">
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'seal_no', label:'关锁号',
					value:order.seal_no!'' }){}%></div>
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'seal_key', label:'关锁密钥',
					value:order.seal_key!'' }){}%></div>
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'ems_no', label:'帐册号',
					value:order.ems_no!'' }){}%></div>
			</div>
			
			<div class="row">
			    <div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'ic_card_no', label:'车辆IC卡号',
					value:order.ic_card_no!'' }){}%></div>
				<div class="col-lg-4">
					<label class="search-label">承运委托企业海关备案号</label>
				    <select id="wygl_code" name="wygl_code_name"
				    	class="form-control search-control" >
		                    <option value='4403630001' <%if(order.wygl_code!''=='4403630001'){ %>selected<%}%>>4403630001-招商局保税物流有限公司</option>
		            </select>
		        </div>
			</div>
			
			<div class="row">
				<div class="col-lg-12">
					<h3>基础信息</h3>
				</div>
			</div>
			<div class="row">
				<!--  第4行  -->
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'order_no', label:'核放单号', value:order.order_no!'', disabled:
					'disabled' }){}%></div>
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'creator_name', label:'创建人', value:user.c_name!'', disabled:
					'disabled' }){}%></div>
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", {
					id:'create_stamp', label:'创建时间', value:order.create_stamp!'',
					disabled: 'disabled' }){}%></div>
				<div class="col-lg-4">
					<%include("/yh/component/form/inputField.html", { id:'status',
					label:'状态', value:order.status!'暂存', disabled: 'disabled' }){}%></div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<label>备注</label>
					<textarea id='note' class="form-control" rows="3" name="note">${order.note!''}</textarea>
				</div>
			</div>
		</form>
	</div>
	<!-- /.row -->

	<div class="group-form" style="margin-top: 15px;display:none">
		<ul id="orderTabs" class="nav nav-tabs">
			<li class="active"><a href="#itemDetail" data-toggle="tab"
				id="costCheckOrderItem">明细信息</a></li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane fade active in" id="itemDetail">
				<div class="form-group">
					<div class="col-lg-12">
						<button class="btn btn-success btn-xs" id="add_item">添加</button>
						<%include("/yh/component/form/detailTable.html", {
						id:'item_table', 
						headers:['', 
						'条码'],
						field_list:['','bar_code'], 
						value_list: itemList![] }){} %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-12">
			<a id='saveBtn' class="btn  btn-primary" href="#">保存</a> <a
				id='submitBtn' class="btn  btn-primary" href="#">上报</a>
			<button id="printBtn" type="button" class="btn  btn-primary"
				data-toggle="modal" data-target=".bs-example-modal-sm">打印</button>
			<a class="btn  btn-default" href="/loadOrder">返回</a>
		</div>
		<!-- /.col-lg-12 -->
	</div>


</div>
<!--  form row  -->
<!-- /#page-wrapper -->
<%}%>

<script src="/yh/js/plugins/datatables-1.10.9/js/jquery.dataTables.js"></script>
<script
	src="/yh/js/plugins/datatables-1.10.9/js/dataTables.bootstrap.js"></script>

<!-- 引入校验的js 文件及其 中文 文件-->
<script src="/yh/js/jquery.validate.min.js"></script>
<script src="/yh/js/jvalidate.messages_cn.js"></script>

<script src="/yh/js/bootstrap-datetimepicker.min.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.zh-CN.js"></script>

<script src="/yh/js/plugins/sco/js/sco.message.js"></script>

<script src="/yh/js/eeda-common.js"></script>
<script src="/js/checkUtil.js"></script>
<script>
    var order_no = '${order.order_no!'出区核放单编辑'}'; 
    var order = {};
</script>
<script src="/js/oms/loadOrder/edit_item_table.js"></script>
<script src="/js/oms/loadOrder/edit.js"></script>
