<%layout("/yh/layout.html"){%>
	<link href="/yh/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/yh/css/ui/jquery-ui.css">
    <link href="/yh/js/plugins/sco/css/sco.message.css" rel="stylesheet"> 
    <link href="/yh/js/plugins/datatables-1.10.9/css/jquery.dataTables.min.css" rel="stylesheet">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="btn-header" style="font-size:32px">库位</div>
            </div>
        </div>
        <input id="order_id" type="hidden" name="order_id" value="${order.id!''}"/>
        <div class="form-group">
            <form id="orderForm">
                <div class="row">
                    <div class="col-lg-4">
                        <%include("/yh/component/form/inputWarehouseField.html", {
											id:'warehouse_id', 
											label:'仓库', 
											value:order.warehouse_id!'', 
											display_value: warehouse_name!'' 
											}){}%>
                    </div>  
                    <div class="col-lg-4">
                        <%include("/yh/component/form/inputLimitField.html", 
                                            {   id:'warehouse_area', 
                                                label:'库区', 
                                                begin_value:order.warehouse_area_begin!'',
                                                end_value:order.warehouse_area_end!''
                                            }){}%>
                    </div>     
                    <div class="col-lg-4">
                        <%include("/yh/component/form/inputLimitField.html", 
                                            {   id:'warehouse_road', 
                                                label:'库道', 
                                                begin_value:order.warehouse_road_begin!'',
                                                end_value:order.warehouse_road_end!''
                                            }){}%>
                    </div>                      
                </div>
                <div class="row">
                	<div class="col-lg-4">
                        <%include("/yh/component/form/inputLimitField.html", 
                                        {   id:'warehouse_row', 
                                            label:'库排', 
                                            begin_value:order.warehouse_row_begin!'',
                                            end_value:order.warehouse_row_end!''
                                            }){} %>
                    
                    </div>   
                    <div class="col-lg-4">
                        <%include("/yh/component/form/inputLimitField.html", 
                                        {   id:'warehouse_column', 
                                            label:'库列', 
                                            begin_value:order.warehouse_column_begin!'',
                                            end_value:order.warehouse_column_end!''
                                            }){} %>
                    
                    </div>   
                    <div class="col-lg-4">
                        <%include("/yh/component/form/inputLimitField.html", 
                                        {   id:'warehouse_layer', 
                                            label:'库层', 
                                            begin_value:order.warehouse_layer_begin!'',
                                            end_value:order.warehouse_layer_end!''
                                            }){} %>
                    
                    </div>                   
                </div>
                <div class="row">
                	<div class="col-lg-4">
                        <%include("/yh/component/form/inputField.html", 
                                        {   id:'position', 
                                            label:'库位', 
                                            value:order.position!''
                                            }){} %>
                    
                    </div>   
                    <div class="col-lg-4">
                        <%include("/yh/component/form/inputField.html", 
                                            {   id:'creator_name', 
                                                label:'创建人', 
                                                value:user.c_name!'', 
                                                disabled: 'disabled'
                                            }){}%>
                    </div>
                    <div class="col-lg-4">
                        <%include("/yh/component/form/inputField.html", 
                                            {   id:'create_stamp', 
                                                label:'创建时间', 
                                                value:order.create_stamp!'', 
                                                disabled: 'disabled'
                                            }){}%>
                    </div>    
                </div>
            </form>
			<br/>
            <div class="row">
           		<div class="col-lg-12">
                	<a id='saveBtn' class="btn  btn-primary" href="#">保存</a>
                	<a class="btn  btn-default" href="/warehouseShelves">返回</a>
                </div>
            </div>

        </div>
    </div>
<%}%>
<script src="/yh/js/plugins/datatables-1.10.9/js/jquery.dataTables.js"></script>
<script src="/yh/js/plugins/datatables-1.10.9/js/dataTables.bootstrap.js"></script>

<!-- 引入校验的js 文件及其 中文 文件-->
<script src="/yh/js/jquery.validate.min.js"></script>
<script src="/yh/js/jvalidate.messages_cn.js"></script>

<script src="/yh/js/bootstrap-datetimepicker.min.js"></script>
<script src="/yh/js/bootstrap-datetimepicker.zh-CN.js"></script>

<script src="/yh/js/plugins/sco/js/sco.message.js"></script>

<script src="/yh/js/eeda-common.js"></script>
<script>
    var order_no = '${order.order_no!'库位编辑'}'; 
</script>
<script src="/js/profile/warehouseShelves/edit.js"></script>
