<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta http-equiv="Content-Language" content="zh-CN"/>
<title>创建单据</title>
<script src="/yh/js/jquery-1.10.2.js" type="text/javascript"></script>
</head>
<body BGCOLOR='#FFFFFF' TEXT='#000000' LINK='#0000FF' VLINK='#0000FF' ALINK='#FF0000'>
<center>
	<form id='payForm' name="form" action="http://orderdev.yundasys.com:10110/cus_order/order_interface/interface_receive_order__mailno.php" method="post" style="display: block;">
		<table border="1" cellpadding="1" cellspacing="1" align="center">
			<!-- 报文参数 -->
			<tr>
				<td>1. 订单号（必填）:</td>
				<td> <input type="text" name="order_serial_no" value="${order.order_serial_no!''}"/></td>
			</tr>
			<tr>
				<td>2.大客户系统订单的订单号 :</td>
				<td> <input type="text" name="khddh" value="${order.khddh!''}"/></td>
			</tr>
			<tr>
				<td>3. 内部参考号:</td>
				<td> <input type="text" name="nbckh" value="${order.nbckh!''}" /></td>
			</tr>
			<tr>
				<td>4. 姓名:</td>
				<td> <input type="text" name="name" value="${order.name!''}"/></td>
			</tr>
			<tr>
				<td>5. 公司名:</td>
				<td><input type="text" name="company" value="${order.company !''}" /></td>
			</tr>
			<tr>
				<td>6. 城市（上海市，上海市，青浦区）:</td>
				<td><input type="text" name="city" value="${order.city!''}"/></td>
			</tr>
			<!-- 买卖双方信息参数 -->
			<tr>
				<td>7. 地址（上海市，上海市，青浦区XXX路XXX号）:</td>
				<td> <input type="text" name="address" value="${order.address!''}" /></td>
			</tr>
			<tr>
				<td>8. 邮编:</td>
				<td> <input type="text" name="postcode" value="${order.postcode!''}"/></td>
			</tr>
			<tr>
				<td>9. 固定电话:</td>
				<td> <input type="text" name="phone" value="${order.phone!''}" /></td>
			</tr>
			<tr>
				<td>10. 移动电话:</td>
				<td> <input type="text" name="mobile" value="${order.mobile !''}" /></td>
			</tr>
			<tr>
				<td>11. 物品重量:</td>
				<td><input type="text" name="weight" value="${order.weight !''}" /></td>
			</tr>
			<tr>
				<td>12. 尺寸:</td>
				<td> <input type="text" name="size" value="${order.size!''}"/></td>
			</tr>
			<!-- 业务参数 -->
			<tr>
				<td>13. 货品金额:</td>
				<td> <input type="text" name="value" value="${order.value!''}" /></td>
			</tr>
			<tr>
				<td>14. 代收货款金额:</td>
				<td> <input type="text" name="collection_value" value="${order.collection_value !''}"/></td>
			</tr>
			<tr>
				<td>15. 商品性质:</td>
				<td> <input type="text" name="special" value="${order.special!''}" /></td>
			</tr>
			<tr>
				<td>16. 商品名称:</td>
				<td> <input type="text" name="item项的name" value="${order.itemname!''}" /></td>
			</tr>
			<tr>
				<td>17. 商品数量:</td>
				<td> <input type="text" name="item项的number" value="${order.itemnumber !''}"/></td>
			</tr>
			<tr>
				<td>18. 商品备注:</td>
				<td> <input type="text" name="item项的remark" value="${order.itemremark!''}" /></td>
			</tr>
			<tr>
				<td>19. 订单备注:</td>
				<td> <input type="text" name="remark" value="${order.remark!''}" /></td>
			</tr>
			<tr>
				<td>20. 自定义显示信息1:</td>
				<td> <input type="text" name="cus_area1" value="${order.cus_area1 !''}"/></td>
			</tr>
			<tr>
				<td>21. 自定义显示信息2:</td>
				<td> <input type="text" name="cus_area2" value="${order.cus_area2!''}" /></td>
			</tr>
			<tr>
				<td>22. 接口异步回传的时候返回的ID:</td>
				<td> <input type="text" name="callback_id" value="${order.callback_id!''}" /></td>
			</tr>
			<tr>
				<td>23. 客户自定义条码:</td>
				<td> <input type="text" name="cus_area3" value="${order.cus_area3!''}" /></td>
			</tr>
			<tr>
				<td>24. 客户波次好:</td>
				<td> <input type="text" name="wave_no" value="${order.wave_no!''}" /></td>
			</tr>			
			<tr>
				<td>25. 人工强制下单:</td>
				<td> <input type="text" name="receiver_force" value="${order.receiver_force!''}" /></td>
			</tr>
			<tr>
				<td>26. 运单类型:</td>
				<td> <input type="text" name="order_type" value="${order.issuerId!''}" /></td>
			</tr>
			<tr>
				<input type="submit" value="提交"/>
			</tr>
	</table>
	</form>
	<!--================= post 方式提交支付请求 end =====================-->
	</center>
<script type="text/javascript">
	$(document).ready(function() {
		//$('#payForm').submit();
	});
</script>
</BODY>
</HTML>
