<div class="form-group">
    <label class="search-label">${label}
    <%if(is_require!'' =='Y'){%>
        <span style='color:red; display:initial;'>*</span>
    <%}%>
    </label>
    <input type="text" 
    	id="${id}" 
		class="form-control search-control" 
		placeholder="${placeholder!''}" 
		value="${value !''}" 
		${disabled!''}>
    <% var d=disabled!'';
        if(d!='disabled'){%>    
    <a id="${id}_remove" href="javascript:void(0);" class="remove">
        <span class="glyphicon glyphicon-remove form-control-feedback" style="top: 0px;" aria-hidden="true"></span>
    </a>
    <%}%>
</div>
<% if(d!='disabled'){%>    
    <script type="text/javascript">
        $('#${id}_remove').on('click', function(){
            $(this).parent().find('input').val('');
        });
    </script>
<%}%>