<div class="form-group">
	<label class="search-label">${label!''}<%if(required!'' =='required'){%>
        <span style='color:red; display:initial;'>*</span>
    <%}%></label>
	<input type="text" class="${class!'form-control search-control'}" 
	id="${id}_input" 
	placeholder="${placeholder!'请选择单位'}"  value="${display_value!''}" ${required!''} 
		${disabled!''}>
	<ul id='${id}_list' class="pull-right dropdown-menu default dropdown-scroll" tabindex="-1" style="top: 35%; left: 1%;">
</ul>
</div>
<input id="${id}" style="display: none;" name="${id}" value="${value!'142'}"/>
<script>

$(document).ready(function() {
	//获取sp列表，自动填充
	var unitList =$("#${id}_list");
	var inputField = $('#${id}_input');
	var hiddenField = $('#${id}');
	
	//单位查询
    //获取单位的list，选中信息在下方展示其他信息
    inputField.on('input click', function(){
    	var me = this;
		var inputStr = inputField.val().trim();
		
		$.get('/unit/searchUnit', {value:inputStr}, function(data){
			unitList.empty();
			for(var i = 0; i < data.length; i++){
				unitList.append("<li><a tabindex='-1' class='fromLocationItem' id ='"+data[i].ID+"' name='"+ data[i].NAME +"' >" + data[i].NAME + "</a></li>");
			}
			
			if(data == ''){
				unitList.append("<li><a tabindex='-1' >无数据</a></li>");
	        }
			
			unitList.css({ 
	        	left:$(me).position().left+"px", 
	        	top:$(me).position().top+28+"px" 
	        }); 
			
			unitList.show();
			
		},'json');
    });
    
    // 没选中单位，焦点离开，隐藏列表
	inputField.on('blur', function(){
		if (inputField.val().trim().length ==0) {
			hiddenField.val('');
		};
		unitList.hide();
 	});

	//当用户只点击了滚动条，没选单位，再点击页面别的地方时，隐藏列表
	unitList.on('blur', function(){
		unitList.hide();
 	});

	unitList.on('mousedown', function(){
		return false;//阻止事件回流，不触发 
	});

	// 选中单位
	unitList.on('mousedown', '.fromLocationItem', function(e){
		inputField.val($(this).text());
		hiddenField.val($(this).attr('name'));
		unitList.hide();
    });
    
	
});
</script>