<div class="form-group">
	<label class="search-label">${label!''}</label>
	<input type="text" class="form-control search-control" 
	id="${id}_input" 
	placeholder="${placeholder!'请选择国家'}"  value="${display_value!'中国'}">
	<ul id='${id}_list' class="pull-right dropdown-menu default dropdown-scroll" tabindex="-1" style="top: 35%; left: 2%;">
</ul>
</div>
<input id="${id}" style="display: none;" name="${id}" value="${value!'142'}"/>
<script>

$(document).ready(function() {
	//获取sp列表，自动填充
	var countryList =$("#${id}_list");
	var inputField = $('#${id}_input');
	var hiddenField = $('#${id}');
	
	//国家查询
    //获取国家的list，选中信息在下方展示其他信息
    inputField.on('input click', function(){
    	var me = this;
		var inputStr = inputField.val().trim();
		
		$.get('/location/searchCountry', {value:inputStr}, function(data){
			countryList.empty();
			for(var i = 0; i < data.length; i++){
				countryList.append("<li><a tabindex='-1' class='fromLocationItem' code ='"+data[i].CODE+"' english_name='"+ data[i].ENGLISH_NAME +"' chinese_name='"+ data[i].CHINESE_NAME+"' >" + data[i].CHINESE_NAME + "</a></li>");
			}
			
			if(data == ''){
				countryList.append("<li><a tabindex='-1' >无数据</a></li>");
	        }
			
			countryList.css({ 
	        	left:$(me).position().left+"px", 
	        	top:$(me).position().top+28+"px" 
	        }); 
			
			countryList.show();
			
		},'json');
    });
    
    // 没选中国家，焦点离开，隐藏列表
	inputField.on('blur', function(){
		if (inputField.val().trim().length ==0) {
			hiddenField.val('');
		};
		countryList.hide();
 	});

	//当用户只点击了滚动条，没选国家，再点击页面别的地方时，隐藏列表
	countryList.on('blur', function(){
		countryList.hide();
 	});

	countryList.on('mousedown', function(){
		return false;//阻止事件回流，不触发 
	});

	// 选中国家
	countryList.on('mousedown', '.fromLocationItem', function(e){
		inputField.val($(this).text());
		hiddenField.val($(this).attr('code'));
		countryList.hide();
    });
    
	
});
</script>